/*
Dan Kolan
CPSC 5200 Web Development I
Project 1: Recipe (HTML & CSS)

In this assignment I implemented the content and style requirements detailed in Project1.pdf
in which we created a landing page for Grandma's Recipes that links to her pie recipe.

This file, recipe.css, includes the definition of all the styling for elements included 
within pages that link to this CSS file.

I implemented the following extra features:
1. Background is silverware.jpg repeated in both directions
2. Favicon is set to pie-icon.gif
3. Pie bullet: all unordered list bullets are pie-bullet.png
4. Wide headings: there is 0.25em horizontal spacing between letters in headings
*/
h1, h2 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 0.25em;
    padding: 10px;
}

h2 {
    font-size: 18pt;
    font-weight: normal;
    text-align: left;
}

body {
    background-color: #FFFFFF;
    background-image: url("images/silverware.jpg");
    background-attachment: fixed;
  }
  
body, p, a {
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

a {
    color: #A4A400;
}

ul {
    list-style-image: url("images/pie_bullet.png");
}

blockquote {
    font-style: italic;
    background-color: #FFFFA8;
}

strong {
    font-weight: bold;
}