body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F4FA;
}

.menu-container {
    background-color: #0d7b39;
    margin: 0 auto;
    width: 100%;
}

.menu {
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-item {
    margin-right: 3rem;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.add-song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-container {
    width: 80%;
    max-width: 480px;
    margin: 0 auto;
}

.centered-text {
    text-align: center;
}

.form-title {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group-inline {
    display: flex;
    align-items: center;
}

.form-group-inline label {
    display: inline-block;
    margin-right: 10px;
}

.form-group-inline input {
    display: inline-block;
}

.form-group-inline.centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group-inline label.centered-text {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.form-group.full-width,
.form-group.half-width,
.form-group.quarter-width,
.form-group.third-width {
    margin-right: 10px;
}

.form-group.full-width,
.form-group.full-width label {
    width: 100%;
}

.form-group.half-width {
    width: 50%;
}

.form-group.third-width {
    width: calc(100% / 3);
    margin-right: 10px;
}

.form-group.quarter-width {
    width: 25%;
}

.form-group.quarter-width #original-key {
    margin-right: auto;
    margin-left: 0;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, sans-serif;
}

.form-group textarea {
    resize: vertical;
}

.form-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #0C8E41;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.form-container button:hover {
    background-color: #0d7b39;
}

.created-msg {
    display: inline-block;
    margin-bottom: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
}

.setlist {
    width: 50%;
    margin: auto;
}

.songs {
    width: 66%;
    margin: auto;
}

.setlist-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 97.5%;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

.setlist-row summary {
    outline: none;
    cursor: pointer;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

@keyframes rotateChevron {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.setlist-row[open] .chevron-right {
    animation: rotateChevron 0.3s forwards;
}

.setlist-row:not([open]) .chevron-right {
    animation: rotateChevron 0.3s reverse forwards;
}

button.setlist-row {
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

button.setlist-row:hover {
    transform: scale(1.05);
}

.setlist-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setlist-field {
    flex: 1;
    margin-right: 20px;
}

.setlist-header {
    align-items: center;
    font-weight: bold;
}

.chevron-right {
    margin-left: auto;
}

.add-songs-btn-container {
    display: flex;
    justify-content: center;
}

.add-songs-to-setlist-btn {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0C8E41;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.add-songs-to-setlist-btn:hover {
    background-color: #0d7b39;
}

#hidden {
    visibility: hidden;
}

.songs table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.songs table tr {
    border-bottom: 1px solid #ddd;
}

.songs table tr th,
.songs table tr td {
    padding: 8px 8px;
    padding-left: 8px;
    display: table-cell;
    text-align: center !important;
    vertical-align: top;
}

.songs table tr:nth-child(even) {
    background-color: #dddddd;
}

.add-song-submit-btn {
    display: block;
    margin: 0 auto;
    width: 33%;
    margin-top: 10px;
    padding: 10px;
    background-color: #0C8E41;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.add-song-submit-btn:hover {
    background-color: #0d7b39;
}

.song-detail-field-container {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.song-detail-field-title {
    margin-right: 5px;
    font-weight: bold;
}

  .song-edit-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
    
  .song-edit-btn button {
    width: auto;
    background-color: #0C8E41;
    font-size: 1rem;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
  }
  
  .song-edit-btn button:hover {
    background-color: #0d7b39;
  }