body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F4FA;
}

.menu-container {
    background-color: #0d7b39;
    margin: 0 auto;
    width: 100%;
}

.menu {
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-item {
    margin-right: 3rem;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.add-song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-container {
    width: 80%;
    max-width: 480px;
    margin: 0 auto;
}

.centered-text {
    text-align: center;
}

.form-title {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group-inline {
    display: flex;
    align-items: center;
}

.form-group-inline label {
    display: inline-block;
    margin-right: 10px;
}

.form-group-inline input {
    display: inline-block;
}

.form-group-inline.centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group-inline label.centered-text {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.form-group.full-width,
.form-group.half-width,
.form-group.quarter-width,
.form-group.third-width {
    margin-right: 10px;
}

.form-group.full-width,
.form-group.full-width label {
    width: 100%;
}

.form-group.half-width {
    width: 50%;
}

.form-group.third-width {
    width: calc(100% / 3);
    margin-right: 10px;
}

.form-group.quarter-width {
    width: 25%;
}

.form-group.quarter-width #original-key {
    margin-right: auto;
    margin-left: 0;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, sans-serif;
}

.form-group textarea {
    resize: vertical;
}

.form-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #0C8E41;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.form-container button:hover {
    background-color: #0d7b39;
}

.created-msg {
    display: inline-block;
    margin-bottom: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
}

.setlist {
    width: 50%;
    margin: auto;
}

.setlist-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

a.setlist-row:hover {
    transform: scale(1.05);
}

.setlist-field {
    flex: 1;
    margin-right: 20px;
}

.setlist-header {
    font-weight: bold;
}

.chevron-right {
    margin-left: auto;
}

#hidden {
    visibility: hidden;
}