body {
    background-image: url('background.png');
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#banner-top {
    text-align: center;
    height: 50px;
    background-image: url('bannerbg.png');
    background-repeat: repeat-x;
    background-size: auto, 50px;
}

#banner-logo {
    display: inline-block;
    height: 50px;
}

.movie-title {
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

.overall-content-container {
    width: 800px;
    margin: 0 auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.score-review-container {
    width: 550px;
}

.score-container {
    background-image: url('rbg.png');
    background-repeat: repeat-x;
    background-size: auto, 83px;
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

#rotten-logo {
    vertical-align: bottom;
    height: 83px;
}

#over-image-container {
    float: right
}

#overview-container {
    width: 250px;
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    float: right;
    overflow: visible;
}

#overview-img {
    width: 250px;
    margin: 0;
}

dl {
    padding-left: 10px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.review-container {
    column-count: 2;
    column-gap: 2%;
    margin: 0% 2%;
}

.review-column {
    width: auto;
    /* float: left; */
    display: inline-block;
}

.review {
    margin-bottom: 20px;
    break-inside: avoid;
}

.review .review-paragraph {
    border: 2px solid gray;
    border-radius: 10px;
    overflow: hidden;
    background-color: #E8DC9B;
    padding: 8px;
}

.score-review-container .review {
    margin-bottom: 20px;
}

.score-review-container .review p {
    font-style: italic;
}

.score-review-container .review p q {
    font-style: normal;
    font-weight: bold;
}

.score-review-container .review img {
    float: left;
    padding-right: 5px;
}

.review-author img {
    margin-right: 5px;
}

.page-count-container {
    background-color: #A2B964;
    margin: 0px;
    clear: right;
    text-align: center;
    bottom:0px;
}

.page-count-text {
    padding: 5px;
    margin: 0px;
}